@import url(./pages/home.css);
@import url(./components/raceInfoBox.css);

.App {
  text-align: center;
  background-color: #1c1b1b;
  min-height: 100vh;
  min-width: 100vw;
}

.App-header {
  background-color: #1c1b1b;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
